<!DOCTYPE html>
<html>
	<head> <title>Perfil de Usuario</title> </head>
	<body>
		<h1>Perfil de {{usuario.nombre}}</h1>
        <p>Correo: {{usuario.correo}}</p>
		<p>Biografía: {{usuario.biografia}}</p>
	</body>
</html>
