<!DOCTYPE html>
<html>
<head>
    <title>Listado de Cervezas</title>
</head>
<body>
    <h1>Cervezas Disponibles</h1>
    <ul>
        {{#cervezas}}
        <li>
            <a href="/cerveza/detalles/{{id}}">{{nombre}}</a>
        </li>
        {{/cervezas}}
    </ul>
    <a href="/agregar-cerveza.html">Agregar Cerveza</a>
</body>
</html>
